<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Jogos Novos</h1>
    <form action="/jogo/novidade" method="post">
        <div>
            <label for="titulo">
            Inserir Titulo
            </label>
            <input type="text" id="titulo" name="titulo">
    </div>
        <div>
            <label for="descr">
                Inserir Descrição
                </label>
                <input type="text" id="descr" name="descr">
        </div>
        <div>
            <label for="valor">
                Inserir Valor
                </label>
                <input type="text" id="valor" name="valor" >
        </div>
        <input type="submit" value="Cadastro"/>
    </form>
</body>
</html>