<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

    <header>
        <a href="/">
         <h1>PlayToWinORM</h1>
        </a>
        <nav>
            <a href="/usuarios">Usuários</a>
            <a href="/formularioJogos">Jogos</a>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>